<h1><%= @patient.name %></h1>
<p><strong>Age:</strong> <%= @patient.age %></p>

<h3>Scheduled Appointments</h3>
<ol>
    <% @patient.appointments.each do |appt| %>
        <li><%= appt.datetime_format %> with doctor: <%= link_to appt.doctor.name, doctor_path(appt.doctor) %></li>
    <% end %>
</ol>