<h1><%=@patient.name%></h1><br>
<% @patient.appointments.each do |a| %>
<p><%= a.appointment_datetime.strftime("%B %e, %Y at %R") %> with <%= link_to a.doctor.name, doctor_path(a) %></p><br>
<% end %>