<h1>@doctor.name</h1>
<h2>@doctor.department</h2> 
<% @doctor.appointments.each do |appointment| %>
   <div><%= appointment.appointment_datetime.strftime('%B %d, %Y' + ' at ' "%H:%M") %><br>
    <%= link_to appointment.patient_name, patient_path(appointment.patient) %></div> 
<%end%>