<h1>Appointment Details:</h1>
<h2>Date/Time:<%= @appointment.appointment_datetime.strftime('%B %d, %Y' + ' at ' "%H:%M") %></h2> 
<p>Doctor:<%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor)%><br>
Patient:<%= link_to @appointment.patient_name, patient_path(@appointment.patient)%> 
